<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/home.css">
<body>
<center>
    
<form>
    <label for="name">Username</label><br>
    <input type="text" name="username" width="200px" height="40px">
    <br>
    <label for="password">Password</label><br>
    <input type="text" name="password" width="200px" height="40px"><br>
    <button type="submit">SUBMIT</button>

</form></center>
</body>
<script src="/index.js"></script>

</html>